[MASTER]
ignore=CVS
ignore-patterns=
persistent=yes
load-plugins=
jobs=1
unsafe-load-any-extension=no
extension-pkg-whitelist=

[MESSAGES CONTROL]
confidence=
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    line-too-long,
    invalid-name,
    import-error,
    no-member,
    unused-import,
    wrong-import-position,
    wrong-import-order

[REPORTS]
output-format=text
reports=no
score=no

[REFACTORING]
max-nested-blocks=5

[BASIC]
good-names=i,j,k,ex,Run,_,app,db,id

[FORMAT]
max-line-length=88
indent-string='    '
indent-after-paren=4

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no

[SPELLING]
spelling-dict=
spelling-ignore-words=
spelling-private-dict-file=

[TYPECHECK]
ignore-mixin-members=yes
ignored-modules=
ignored-classes=
generated-members=
